

li{
    list-style-type: none;
    padding: 8px;
    }
    
    mat-icon{
       color: #063784
    }
    
    .bar{
        display: flex;
        height: 100vh;
        width: 80px;
        border-right: 2px solid rgb(236,238,239);
        
    }
    .sideborder{
        margin: 5px;
        padding: 0px 12px 0px 12px;

    }
