<div class="top_bar" >
    <div>
    <img  width="200" height="50" src="assets/images/institute.png">
    <div class="vertical_bar"></div>
    <img width="50" height="40" src="assets/images/tajmahal.png">
    
      <mat-form-field appearance="outline" style="height: fit-content;">
        <mat-select  [(value)]="selectedCity">
          <mat-option [value]="selectedCity">Chennai</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

<div style="margin-right: 10px;">
    <mat-form-field appearance="outline" style="height: fit-content;">
        <mat-icon matPrefix>search</mat-icon>
        <input
          matInput 
          placeholder="Search..."
        />
        <mat-icon matSuffix class="my-icon">keyboard_voice</mat-icon>
      </mat-form-field>
    
<div class="profile_details" >
    <div>
    <p style="font-weight: 500;">George William</p>
    <p style="font-size: 14px;">Super Admin</p>
</div>
    <img class="profile" width="50" height="50" src="assets/images/profile.png">
</div>
</div> 

  
</div>